

body{
   background: yellow;
   min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
.container{
    box-shadow: 10px 10px !important;  
    font-family: Figtree;
    border: 1px solid #000;
    padding: 20px 20px;
    background: #fff !important;
    max-width: 300px;
    border-radius: 12px;
}
.first-image{
   width: 100%;
   border-radius: 12px;
   padding-bottom: 5px;
}
.still-text{
    font-size: 15px;
}
.user-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.only-button{
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background-color: red;
    color: #000;
}
.user{
    width: 10%;
}
@media (max-width: 768px){
    .box-content{
        border: 1px solid #000;
        padding: 20px 20px;
        background: #fff !important;
        width: 100%;
        border-radius: 12px;
    }
    .still-text{
        font-size: 12px;
    }
    .move-card{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 50px; */
        padding-bottom: 10%;
    }
}